<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header">

</header>


<div class="container mt-5">

    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.getTitle()}"/>
        <p th:text="${el.getFull_text()}"/>

        <p><b>Просмотры: </b> <span th:text="${el.getViews()}"/></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>

        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
       <button class="btn btn-warning" type="submit">Удалить</button>
    </form>

    </div>
</div>

<footer th:insert="blocks/footer :: footer">

</footer>
</body>
</html>